VITE_API_URL=http://localhost:8080/api
VITE_KEYCLOAK_AUTH_ENDPOINT=http://localhost:8181/realms/fitness-oauth2/protocol/openid-connect/auth
VITE_KEYCLOAK_TOKEN_ENDPOINT=http://localhost:8181/realms/fitness-oauth2/protocol/openid-connect/token
VITE_KEYCLOAK_CLIENT_ID=oauth2-pkce-client
VITE_REDIRECT_URI=http://localhost:5173
