@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');

.login-page {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #171717;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  transform: translateY(-100px);
}

.login-logo {
  color: white;
  font-family: "Special Gothic Expanded One", sans-serif;;
  font-weight: 700;
  font-style: italic;
  font-size: 4rem;
  letter-spacing: 0.10em;
  margin: 0;
}

.login-btn {
  background-color: #000000 !important;
  color: #ffffff !important;
  border-radius: 12px !important;
  padding: 10px 32px !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  text-transform: none !important;
  font-size: 1rem !important;
  margin-top: 10px !important;
}